<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica </title>
</head>
<body>
    <section>
        <h1>HOLIS</h1>
        <h2>YA PASENOS CON 10 A TODOS</h2>
    </section>
    
    <h1>*NATALIA CAMACHO REYES 1318283197*</h1>
    <style>
body{
    background-color: rgb(159, 220, 223);
    color:white;
}
section{
    background-color:rgb(160, 149, 224);
    border-radius: 0.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1.0rem;
    padding: 0.5%;
    text-align: center;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

    </style>
</body>
</html>